.pokemon-details {
    background-color: rgba(255, 232, 115, 0.906);
    padding: 1rem;
    display: flex;
    min-width: 80%;
    height: 50%;
    gap: 1rem;
    border-radius: 10px;
    position: relative;
}


.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    width: 70%;
}

.general {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.badge {
    background-color: rgb(249, 110, 110);
    padding: .6rem;
    border-radius: .6rem;
}


.right ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}



.ability {
    background-color: rgba(172, 249, 110, 0.84);
    padding: .6rem;
    border-radius: .6rem;
    display: inline-block;
}

.back {
    position: absolute;
    right: 5px;
    bottom: 5px;
}