.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pokemons-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}